<footer class=" footer">
  <div class=" container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a class=" nav-link" href="https://www.thetechpro.be">
          TechPro
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="https://www.thetechpro.be/about%20us.html">
          About Us
        </a>
      </li>

    </ul>
    <div class=" copyright">
      &copy; {{ test | date: "yyyy" }} made by
      <a href="https://www.thetechpro.be/index.html" target="_blank"> TechPro </a>
    </div>
  </div>
</footer>
